body{
        background: #ffffff;
        font-family: Arial, sans-serif;
    }
    .login-box{
        width: 380px;
        background: #bdd62f; /* verde del diseño */
        padding: 40px;
        margin: 80px auto;
        border-radius: 18px;
        text-align: center;
    }
    .login-box img{
        width: 120px;       /* Tamaño sugerido del logo */
        height: 120px;
        margin-bottom: 10px;
    }
    .login-box h2{
        font-size: 18px;
        margin-bottom: 25px;
        font-weight: normal;
    }
    .login-box input{
        width: 90%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 6px;
        border: none;
        outline: none;
    }
    .login-box button{
        width: 90%;
        padding: 10px;
        background: #000000;
        color: #ffffff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;
    }


    body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}
.layout{
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar{
    width: 250px;
    background: #bdd62f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo img{
    width: 60px;
    display: block;
    margin-bottom: 5px;
}
.menu a{
    display: block;
    padding: 10px;
    margin: 4px 0;
    text-decoration: none;
    color: #111;
    border-radius: 6px;
}
.menu a.active{
    background: #ffffff;
}
.menu a:hover{
    background: #e6e6e6;
}

.user{
    text-align: center;
}
.user button{
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 6px;
}

/* CONTENIDO PRINCIPAL */
.content{
    flex-grow: 1;
    padding: 25px;
}
.cards{
    display: flex;
    gap: 15px;
    margin: 25px 0;
}
.card{
    flex: 1;
    padding: 18px;
    border-radius: 8px;
    background: #fff;
    font-weight: bold;
}
.card span{
    display: block;
    font-size: 22px;
    margin-top: 6px;
}
.purple{ border-left: 8px solid purple; }
.yellow{ border-left: 8px solid gold; }
.orange{ border-left: 8px solid orange; }
.green{ border-left: 8px solid #3ca63c; }

.panel{
    display: flex;
    gap: 15px;
}
.box{
    flex: 1;
    background: #fff;
    padding: 18px;
    border-radius: 8px;
}
.box ul{
    list-style: none;
    padding: 0;
}
.bar-list li{
    margin: 8px 0;
}
.bar{
    height: 8px;
    border-radius: 4px;
    margin-top: 4px;
}
.red{ background: red; width: 40%; }
.orange{ background: orange; width: 60%; }
.yellow{ background: gold; width: 75%; }
.green{ background: #3ca63c; width: 85%; }
